# Untracked Files
#----------------

# Ignore all PowerShell scripts
# (used for automation from Windows)
*.ps1
*.psm1
*.psd1

# Ignore and sh script called Sheerow.sh
# (used for automation on Linux)
sheerow.sh
Sheerow.sh
